@import '~@angular/material/theming';

@include mat-core();

$md-neutrals: (
  50: #e3e3e4,
  100: #bababb,
  200: #8c8c8d,
  300: #5d5d5f,
  400: #3b3b3d,
  500: #18181b,
  600: #151518,
  700: #111114,
  800: #0e0e10,
  900: #080808,
  A100: #ff5050,
  A200: #ff1d1d,
  A400: #e90000,
  A700: #cf0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-messaging: (
  50: #e3eae5,
  100: #b9cbbf,
  200: #8ba894,
  300: #5c8569,
  400: #396a49,
  500: #165029,
  600: #134924,
  700: #10401f,
  800: #0c3719,
  900: #06270f,
  A100: #63ff82,
  A200: #30ff5a,
  A400: #00fc33,
  A700: #00e22e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-primary: (
  50: #b3b3b3,
  100: #8c8c8c,
  200: #707070,
  300: #4d4d4d,
  400: #3d3d3d,
  500: #2e2e2e,
  600: #18181b,
  700: #0f0f0f,
  800: #000000,
  900: #000000,
  A100: #c69595,
  A200: #9f5656,
  A400: #523d3d,
  A700: #3e3838,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-warn: (
  50: #ffffff,
  100: #ffffff,
  200: #fcdacf,
  300: #f7a78c,
  400: #f59170,
  500: #f37b53,
  600: #f16536,
  700: #ef4f1a,
  800: #db420f,
  900: #be3a0d,
  A100: #ffffff,
  A200: #ffe8e0,
  A400: #ff9b7a,
  A700: #f98b67,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-accent: (
  50: #ebf8ff,
  100: #bee3fe,
  200: #66bfff,
  300: #2494f0,
  400: #1182e4,
  500: #056dc7,
  600: #0559b3,
  700: #0a4185,
  800: #11305f,
  900: #16203b,
  A100: #d0deff,
  A200: #9dbaff,
  A400: #6a96ff,
  A700: #5184ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$angular-material-ads-app-messaging: mat-palette($md-messaging);
$angular-material-ads-app-neutrals: mat-palette($md-neutrals);
$angular-material-ads-app-primary: mat-palette($md-primary);
$angular-material-ads-app-accent: mat-palette($md-accent);
$angular-material-ads-app-warn: mat-palette($md-warn);

$angular-material-ads-app-theme: mat-dark-theme(
  $angular-material-ads-app-primary,
  $angular-material-ads-app-accent,
  $angular-material-ads-app-warn
);

$angular-material-ads-app-light-theme: mat-light-theme(
  $angular-material-ads-app-primary,
  $angular-material-ads-app-accent,
  $angular-material-ads-app-warn
);

$mainTheme: $angular-material-ads-app-theme;

$primary: map-get(
  $map: $mainTheme,
  $key: primary
);
$accent: map-get(
  $map: $mainTheme,
  $key: accent
);
$warn: map-get(
  $map: $mainTheme,
  $key: warn
);

//$more-colors: (
//  $primary-color-dark: #616161,
//  $primary-color: #9E9E9E,
//  $primary-color-light: #F5F5F5,
//  $primary-color-text: #212121,
//  $accent-color: #607D8B,
//  $primary-text-color: #212121,
//  $secondary-text-color: #757575,
//  $divider-color: #BDBDBD
//);

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/Material/material-icons.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/Material/material-icons-outlined.woff2) format('woff2');
}

@font-face {
  font-family: ProximaNovaRegular;
  src: url(/assets/ProximaNova/proximanova-regular-webfont.woff);
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(/assets/ProximaNova/proximanova-bold-webfont.woff);
}

@font-face {
  font-family: ProximaNovaSemibold;
  src: url(/assets/ProximaNova/proximanova-semibold-webfont.woff);
}

@font-face {
  font-family: ProximaNovaLight;
  src: url(/assets/ProximaNova/proximanova-light-webfont.woff);
}

@font-face {
  font-family: ProximaNovaExtrabold;
  src: url(/assets/ProximaNova/proximanova-extrabold-webfont.woff);
}

//display-4:
//Large, one-off header, usually at the top of the page (e.g. a hero header).
//Our use: Top Headers

//display-3:
//Large, one-off header, usually at the top of the page (e.g. a hero header).
//Out Use: Dialog Titles

//display-2:
//Large, one-off header, usually at the top of the page (e.g. a hero header).
//Out Use: Table Headers

//display-1:
//Large, one-off header, usually at the top of the page (e.g. a hero header).
//Out Use: Table Rows

//headline:
//Large, one-off header, usually at the top of the page (e.g. a hero header).

//title:
//Section heading corresponding to the <h1> tag.

//subheading-1:
//Section heading corresponding to the <h2> tag.

//subheading-2:
//Section heading corresponding to the <h3> tag.

//subheading-3:
//Section heading corresponding to the <h4> tag.

//body-1:
//Base body text.
//Our use: Labels, specially in forms

//body-2:
//Bolder body text.
//Our use: Bold Labels, specially in forms

//caption:
//Smaller body and hint text.

//button:
//Buttons and anchors.

//input:
//Form input fields.

$fontConfig: (
  display-4: mat-typography-level(28px, 32px, 400, 'ProximaNovaBold', 0em),
  display-3:
    mat-typography-level(40px, 56px, 400, 'ProximaNovaRegular', -0.0089em),
  display-2: mat-typography-level(30px, 48px, 400, 'ProximaNovaRegular', 0em),
  display-1:
    mat-typography-level(26px, 40px, 400, 'ProximaNovaRegular', 0.0074em),
  headline: mat-typography-level(28px, 32px, 400, 'ProximaNovaBold', 0em),
  title: mat-typography-level(20px, 32px, 500, 'ProximaNovaRegular', 0.0075em),
  subheading-1:
    mat-typography-level(18px, 24px, 500, 'ProximaNovaRegular', 0.0067em),
  subheading-2:
    mat-typography-level(16px, 28px, 400, 'ProximaNovaRegular', 0.0094em),
  subheading-3:
    mat-typography-level(18px, 24px, 500, 'ProximaNovaRegular', 0.0067em),
  body-1: mat-typography-level(25px, 24px, 300, 'ProximaNovaRegular', 0.0179em),
  body-2: mat-typography-level(26px, 20px, 400, 'ProximaNovaBold', 0em),
  caption: mat-typography-level(18px, 20px, 400, 'ProximaNovaRegular', 0.0333em),
  button: mat-typography-level(24px, 14px, 500, 'ProximaNovaRegular', 0.0893em),
  button-checked:
    mat-typography-level(24px, 40px, 600, 'ProximaNovaSemibold', 0.0893em),
  input: mat-typography-level(inherit, 1.125, 400, 'ProximaNovaRegular', 1.5px),
  font-family: 'ProximaNova'
);

.act_dialog_title {
  @include mat-typography-level-to-styles($fontConfig, display-3);
}

.mat-dialog-container {
  padding: 0px !important;
}

@include mat-core($fontConfig);
$proxyRegular: mat-typography-level(
  112px,
  112px,
  400,
  'ProximaNovaSemibold',
  -0.0134em
);

// $custom-typography: mat-typography-config($font-family: '"ProximaNovaRegular"');
// @include mat-core($custom-typography);
// Foreground Elements

@mixin mat-grid-mixin($theme) {
  $primary: map-get(
    $map: $theme,
    $key: primary
  );

  mat-grid-tile {
    background-color: mat-color($primary, 500);
    color: mat-contrast($primary, 500);
  }
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

@mixin mixin-custom-button($color: white) {
  ::ng-deep {
    color: $color !important;
    border-color: #979797 !important;
    background-color: transparent;
  }
}

@mixin mixin-custom-slide-control(
  $selector,
  $hasText: true,
  $checkedBackgroundColor,
  $toggleImage: null
) {
  #{$selector} {
    ::ng-deep {
      .mat-slide-toggle-bar {
        @if $hasText {
          margin-left: 11px !important;
        } @else {
          margin-left: 0px !important;
        }
        height: 37px !important;
        border-radius: 22px !important;
        width: 80px !important;
      }

      .mat-slide-toggle-thumb {
        margin-left: 5px !important;
        margin-top: 6px !important;
        height: 31px !important;
        width: 31px !important;
        color: white !important;
        @if $toggleImage {
          background-color: transparent !important;
          background-image: $toggleImage;
          background-repeat: no-repeat;
        } @else {
          background-color: #ffffff !important;
        }
      }

      .mat-slide-toggle-thumb.mat-checked {
        margin-left: 5px !important;
        margin-top: 6px !important;
        height: 31px !important;
        width: 31px !important;
        color: white !important;
        opacity: 1 !important;
        @if $toggleImage {
          background-color: transparent !important;
          background-image: url('../../../assets/private-toggle.png');
          background-repeat: no-repeat;
        } @else {
          background-color: #ffffff !important;
        }
      }

      .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: $checkedBackgroundColor !important;
      }

      .mat-slide-toggle-content {
        color: #f5f8fa !important;
        @include mat-typography-level-to-styles($fontConfig, title);
        height: 28px;
      }

      .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
        transform: translate3d(39px, 0, 0) !important;
      }

      .mat-slide-toggle-ripple.mat-ripple {
        display: none;
      }
    }
  }
}

@mixin mixin-custom-table() {
  .mat-header-row {
    height: 96px;
    background-color: #333438;
    color: white;
    border-radius: 18px 18px 0 0;
  }

  .mat-header-cell {
    background-color: #333438;
    color: white;
  }

  .tablerrow:last-child {
    height: 128px !important;
    background-color: #222324;
  }

  .tablerrow {
    height: 112px !important;
    background-color: #222324;
  }

  mat-row {
    border-left-width: 16px;
    border-left-color: mat-color($primary, 600);
    border-right-width: 16px;
    border-right-color: mat-color($primary, 600);
    border-top-width: 16px;
    border-top-color: mat-color($primary, 600);
    border-bottom-color: #161617;
    text-align: center;
  }

  mat-row:last-child {
    border-left-width: 16px;
    border-left-color: mat-color($primary, 600);
    border-right-width: 16px;
    border-right-color: mat-color($primary, 600);
    border-top-width: 16px;
    border-top-color: mat-color($primary, 600);
    border-bottom-width: 16px;
    border-bottom-color: #161617;
    text-align: center;
  }

  ::ng-deep .mat-sort-header-container {
    @include mat-typography-level-to-styles($fontConfig, display-2);
    text-decoration: underline;
  }

  ::ng-deep .mat-cell {
    @include mat-typography-level-to-styles($fontConfig, display-3);
  }

  mat-table {
    background-color: #333438;
    color: white;
    border-radius: 18px 18px 0 0;
  }
}

@mixin mixin-custom-input-field() {
  ::ng-deep {
    .mat-form-field-infix {
      top: -6px !important;
    }

    .mat-form-field-outline {
      background-color: #1c1d1f !important; //Todo : need to defined a color palette
      box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }

    .select_panel {
      background-color: blue($color: #a33232);
      font-size: 30px;
      margin-left: 10px;
      width: 100%;
    }
  }
}

@mixin mix-mat-button-toggle($selector) {
  #{$selector} {
    .mat-button-toggle {
      height: 64px !important;
      background-color: mat-color($primary);
      font-weight: normal;
      font-family: ProximaNovaRegular, sans-serif;
      @include mat-typography-level-to-styles($fontConfig, button);
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-button-toggle-label-content {
        @include mat-typography-level-to-styles($fontConfig, button);
        height: 40px;
        color: $light-primary-text;
        padding-right: 40px;
        padding-left: 40px;
      }
    }

    .mat-button-toggle-checked {
      height: 64px !important;
      background-color: mat-color($accent);
      font-family: ProximaNovaSemibold, sans-serif;
      @include mat-typography-level-to-styles($fontConfig, button-checked);
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-button-toggle-label-content {
        @include mat-typography-level-to-styles($fontConfig, button-checked);
        height: 40px;
        color: $light-primary-text;
      }
    }
    .mat-button-toggle-group-appearance-standard {
      border: none;
    }

    .toggle-button {
      border-radius: 0px 0px 0 0px;
      width: 178px;
    }

    .toggle-button:first-child {
      border-radius: 8px 0px 0 8px;
      width: 178px;
    }

    .toggle-button:last-child {
      border-radius: 0px 8px 8px 0px;
      width: 178px;
    }

    .toggle-button-wide {
      width: 240px;
    }

    .toggle-button-wide:first-child {
      border-radius: 8px 0px 0 8px;
      width: 240px;
    }

    .toggle-button-wide:last-child {
      border-radius: 0px 8px 8px 0px;
      width: 240px;
    }
  }
}

@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .background-primary {
    background-color: mat-color($primary);
  }
  .background-accent {
    background-color: mat-color($accent);
  }
  .background-warn {
    background-color: mat-color($warn);
  }
}

@mixin mix-mat-tab($selector) {
  $tab-typography: (
    body-1: mat-typography-level(28px, 40px, 400, 'ProximaNovaRegular', 0em),
    body-2: mat-typography-level(28px, 40px, 400, 'ProximaNovaSemibold', 0em)
  );
  %tab-defaults {
    height: 80px !important;
    padding-right: 107px !important;
    padding-left: 107px !important;
    font-size: 28px !important;
    opacity: 1 !important; //disable default .6 opacity on tab not in focus
  }
  #{$selector} {
    ::ng-deep {
      .mat-tab-label {
        @extend %tab-defaults;
        @include mat-typography-level-to-styles($tab-typography, body-1);
        font-weight: normal;
      }

      .mat-tab-label-container {
        background: #222426;
        border-bottom: #191b1c solid 3px;
      }

      .mat-tab-label.mat-tab-label-active {
        @extend %tab-defaults;
        @include mat-typography-level-to-styles($tab-typography, body-2);
        color: mat-color($accent);
      }

      .mat-ink-bar {
        height: 6px !important;
      }

      .mat-tab-header-pagination {
        display: none !important;
      }
    }

    .remove-border-bottom ::ng-deep .mat-tab-header {
      border-bottom: none;
      width: 100%;
    }
  }
}

@mixin mat-setup-search_field($selector: '.main_container') {
  $local-typography: (
    input: mat-typography-level(30px, 40px, 400, 'ProximaNovaSemibold', 0px)
  );
  #{$selector} {
    .search_field {
      color: white;
      mat-icon {
        font-size: 39px !important;
        height: 39px !important;
        width: 38px !important;
      }
    }

    .search_input_field {
      color: white;
    }
    .search_icon {
      @include md-icon-size(18px);
    }

    ::ng-deep {
      .mat-input-element {
        color: #f5faff; //Todo : need to defined a color palette
        @include mat-typography-level-to-styles($local-typography, input);
      }

      .mat-form-field-infix {
        top: -6px !important;
      }

      .mat-card-header-text {
        margin: auto !important;
      }

      .mat-form-field-outline {
        background-color: #1c1d1f !important; //Todo : need to defined a color palette
        box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
      }
    }
  }
}
