/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import './ads-theme.scss';

.angular-material-ads-app-theme {
  $theme: $mainTheme;
  @include angular-material-theme($theme);
  @include mat-grid-mixin($theme);
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: mat-color($primary, 600);
  margin: 0px;
  padding: 0px;
}

//Custom label color requirement from assent color-pallet
.mat-form-field.mat-focused .mat-form-field-label {
  &.mat-accent {
    color: mat-color($accent, 50) !important;
  }

  &.mat-warn {
    color: mat-color($warn) !important;
  }
}

.mat-form-field.mat-form-field-invalid {
  .mat-form-field-label {
    &.mat-accent,
    .mat-form-field-required-marker {
      color: mat-color($warn) !important;
    }
  }
}

*:fullscreen *:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  overflow: auto !important;
}

.backdropBackground {
  opacity: 0.88 !important;
  background-color: #18181b;
}
