<div fxLayout="column" class="content">
  <div class="title-box">
    <div id="app-dialog-title-text" mat-dialog-title>
      {{ data.title }}
    </div>
  </div>

  <div mat-dialog-content class="mat-typography message">
    {{ data.message }}
  </div>

  <div
    mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="64px"
  >
    <button mat-stroked-button id="thin_border_button1" (click)="onDismiss()">
      {{ data.button1Text }}
    </button>
    <button
      mat-stroked-button
      id="thin_border_button2"
      color="primary"
      *ngIf="data.button2Text && data.button2Text.length"
      (click)="onConfirm()"
    >
      {{ data.button2Text }}
    </button>
  </div>
</div>
