@import '../../../../ads-theme';

.title-box {
  width: 100%;
  background-color: #1d1d1e;
  margin: 0px;
}

.mat-dialog-title {
  display: block;
  align-items: center;
  text-align: center !important;
  @include mat-typography-level-to-styles($fontConfig, display-4);
  color: white;
  margin-top: 1em;
}

.mat-dialog-content {
  background-color: #232324;
}

.content {
  display: flex;
  background-color: #232324;
  margin: 0em;
}

.message {
  text-align: center;
  padding-top: 2em;
  height: 3em;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.mat-dialog-actions {
  justify-content: space-between;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

#thin_border_button1 {
  margin-top: 20px;
  width: 230px;
  height: 64px;
  border-color: white;
  color: white;
  background-color: transparent;
}

#thin_border_button2 {
  margin-top: 20px;
  width: 230px;
  height: 64px;
  border-color: mat-color($warn);
  color: white;
  background-color: mat-color($warn);
}
