<html lang="en">
  <head>    
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.14.0/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.14.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.14.0/css/okta-theme.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <h1>DEV INTERFACE</h1>    
    <div id="okta-login-container"></div>    
    <div id="status"></div>
    <h4>Authrorization Token (Pass as Authorization Header: Bearer {token}):</h4>
    <div id="token"></div>
    <h4>---------------------</h4>
    <div><a href="/graphql">graphql</a></div>
    <input id="logout" type="button" value="Logout" onclick="logout();" />
  </body>

  <script type="text/javascript">
    var oktaSignIn = new OktaSignIn({
      baseUrl: "<%= OIDC_BASE_URL %>",
      clientId: "<%= OIDC_CLIENT_ID %>",
      authParams: {
        issuer: "<%= OIDC_ISSUER %>",
        responseType: ["token", "id_token"],
        display: "page"
      }
    });

    if (oktaSignIn.token.hasTokensInUrl()) {
      oktaSignIn.token.parseTokensFromUrl(
        function success(res) {
          var accessToken = res[0];
          var idToken = res[1]

          document.getElementById("status").innerText = 'Hello, ' + idToken.claims.email;
          document.getElementById("token").innerText = accessToken.accessToken;

          oktaSignIn.tokenManager.add('accessToken', accessToken);
          oktaSignIn.tokenManager.add('idToken', idToken);

          window.location.hash='';
        },
        function error(err) {
          console.error(err);
        }
      );
    } else {
      oktaSignIn.session.get(function (res) {        
        if (res.status === 'ACTIVE') {
          document.getElementById("status").innerText = 'Welcome back, ' + res.login;
          var accessToken = oktaSignIn.tokenManager.get("accessToken");
          document.getElementById("token").innerText = accessToken.accessToken;
          return;
        }
        
        document.getElementById("status").innerText = 'No session';
        console.log('No session');
        oktaSignIn.renderEl(
          { el: '#okta-login-container' },
          function success(res) {     
            console.log(res);
          },
          function error(err) {
            console.error(err);
          }
        );
      });
    }

    function logout(){
      oktaSignIn.signOut();
      location.reload();
    }

    function oauthRequest(url) {
      var accessToken = oktaSignIn.tokenManager.get("accessToken");
      console.log('Access token: ' + accessToken);

      if (!accessToken) {
        console.warn('No access token');
        document.getElementById("apiResponse").innerText = 'No access token';
        return;
      }

      $.ajax({
        url: url,
        headers: {
          Authorization : 'Bearer ' + accessToken.accessToken
        },
        success: function(response) {
          console.log('Messages', response);
        },
        error: function(response) {
          console.error(response);
        }
      });
    } 

  </script>
  
</html>