@import '../../../ads-theme';

.title {
  @include mat-typography-level-to-styles($fontConfig, display-4);
  height: 100px;
  color: white;
}

.paginator_wrapper {
  position: absolute;
  right: 30px;
  top: 78px;
}

.operating_room_item {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.pagination {
  margin-top: 25px;
  height: 100%;
  background-color: mat-color($primary, 600);
}

.button-row {
  margin-top: 20px;
  height: 48px !important;
}

.operating_room_grid {
  margin: auto;
  width: 100%;
}

.max {
  height: 100%;
}

.tile {
  min-width: 386px;
  min-height: 216px;
}

.page-icon {
  width: 32px;
  height: 32px;
  padding-bottom: 3px;
}

@mixin mix-mat-button-page-toggle($selector) {
  #{$selector} {
    .mat-button-toggle {
      // height: 60px !important;
      background-color: mat-color($primary);
      font-size: 12px;
      font-family: ProximaNovaRegular, sans-serif;
    }

    .mat-button-toggle-checked {
      // height: 60px !important;
      background-color: mat-color($accent);
      font-size: 12px;
      font-family: ProximaNovaRegular, sans-serif;
    }

    .mat-button-toggle-group-appearance-standard {
      border: none;
    }

    .pagesize-toggle-button:first-child {
      border-radius: 8px 0px 0 8px;
      width: 60px;
      font-size: 12px;
      font-family: ProximaNovaRegular, sans-serif;
    }

    .pagesize-toggle-button:last-child {
      border-radius: 0px 8px 8px 0px;
      width: 60px;
      font-size: 12px;
      font-family: ProximaNovaRegular, sans-serif;
    }
  }
}

@include mix-mat-button-page-toggle('.paginator_wrapper');
